In [1]:
print ("hellow world")

hellow world

In [2]:
print 3.5

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(3.5)? (<ipython-input-2-97eb93fbe9b7>, line 1)

## Integer

integer adalah bilangan  ublat pada python

In [3]:
print(1233+121)

1354

In [4]:
print(type(4.2))

<class 'float'>

In [5]:
print(type("hola"))

<class 'str'>

In [11]:
print(type(1))

<class 'int'>

In [8]:
print(1)

1

## Float

In [12]:
print(4.2)

4.2

In [23]:
print(4.)

4.0

In [14]:
print(type(4.))

<class 'float'>

In [15]:
print(.4e3)

400.0

In [16]:
print(-.4e5)

-40000.0

In [17]:
print(4.0+2)

6.0

## String

In [19]:
print("Gede Candrayana Giri")

Gede Candrayana Giri

In [20]:
print("my, asdhaudhaihs ")

my, asdhaudhaihs

In [22]:
print("what's up")

what's up

## Boolean

In [25]:
print(type(True))

<class 'bool'>

In [33]:
print(type(False))

<class 'bool'>

## Variable Assignment

In [27]:
a=300

In [29]:
print (a)

300

In [30]:
a

300

In [34]:
a +5

305

In [35]:
a=b=c=10

In [36]:
b

10

In [38]:
nama = "gede"
umur = 22
status_hidup = True

In [39]:
print(nama,umur,status_hidup)

gede 22 True

## Operators and expressions

In [40]:
a=10
b=20
a+b

30

In [41]:
a%b

10

In [42]:
c=5

In [43]:
a/c

2.0

In [44]:
a**5

100000

In [45]:
a==b

False

In [46]:
a<=b

True

In [47]:
a>=b
a<=b

True

In [57]:
#string
s="Foobar99"
t="bar"
c="halu"

In [51]:
s+t

'foobar'

In [52]:
0.1+0.1+0.1==0.3

False

In [61]:
0.2+0.2+0.2==0.6

False

In [60]:
print(s in "good morning")
print(s in"free food")

False
False

In [59]:
print(s.upper())

FOOBAR99

In [58]:
print(s.swapcase())

fOOBAR99

## Python List

In [62]:
contohlist = [1,2,3,4,5,7,8,10]

In [63]:
print(contohlist)

[1, 2, 3, 4, 5, 7, 8, 10]

In [74]:
print(contohlist)

10

In [70]:
contohlist==a

True

In [71]:
print(a[4])

TypeError: 'int' object is not subscriptable

In [72]:
a[4]

TypeError: 'int' object is not subscriptable

In [73]:
print(contohlist[3])

TypeError: 'int' object is not subscriptable

In [75]:
print(contohlist)

10

In [76]:
contohlist = [1,2,3,4,5,7,8,10]

In [77]:
print(contohlist)

[1, 2, 3, 4, 5, 7, 8, 10]

In [78]:
print(contohlist[2])

3

In [79]:
contohlist[-1]

10

In [80]:
stringlist=["foo", "tod", "sun", "day","cpr"]

In [82]:
print (stringlist)

['foo', 'tod', 'sun', 'day', 'cpr']

### isi list  seperti ini [0, 1, 2, 3, 4, 5]

In [83]:
stringlist[2:4]

['sun', 'day']

In [84]:
min(stringlist)

'cpr'

In [85]:
len(stringlist)

5

In [86]:
print(sort(stringlist))

NameError: name 'sort' is not defined

In [87]:
list=[1,2,3,4,5,7,8,10,"foo", "tod", "sun", "day","cpr"]

In [88]:
print (list)

[1, 2, 3, 4, 5, 7, 8, 10, 'foo', 'tod', 'sun', 'day', 'cpr']

In [89]:
list[1]= 100

In [90]:
print(list)

[1, 100, 3, 4, 5, 7, 8, 10, 'foo', 'tod', 'sun', 'day', 'cpr']

## Tuples

In [96]:
tuples= ("foo", "tod", "sun", "day","cpr")

In [97]:
print(tuples)

('foo', 'tod', 'sun', 'day', 'cpr')

In [93]:
#packing and unpacking

## Dictionary

In [106]:
divisi = {
    'nama': 'Telkom Corporate Universiity',
    'jumlahkaryawan':202,
    'lokasi':'bandung'
}

In [107]:
divisi['nama']

'Telkom Corporate Universiity'

In [108]:
divisi['jumlahkaryawan']

202

In [109]:
divisi['nama'] ='TCUC'

In [110]:
divisi

{'nama': 'TCUC', 'jumlahkaryawan': 202, 'lokasi': 'bandung'}

In [112]:
del divisi['jumlahkaryawan']

In [113]:
divisi

{'nama': 'TCUC', 'lokasi': 'bandung'}

In [123]:
karyawan={}
type(karyawan)

karyawan['nama']='Gede Candrayana'
karyawan['nik']='930328'
karyawan['lahir']='2020-01-19'
karyawan['hobby']=['berenang', 'minum','makan', 'tidur']

In [122]:
karyawan

{'nama': 'Gede Candrayana', 'nik': '930328', 'lahir': '2020-01-19'}

In [126]:
print (karyawan['hobby'][2])

makan

## To Do
1. membuat git hub