## Perulangan dan Percabangan

In [ ]:
x = 0
y =5
## apapun nilai selain bukan angka 0 adalah true karena 0 adalah false

In [ ]:
if x < y:
    print("ya jelas!")
    
if y > x:
    print ("true")

In [ ]:
if x:
    print('true')

In [ ]:
if y:
    print('true')

In [ ]:
if 'xyz' in 'abcxyzde':
    print ('true')

In [ ]:
if 'xyz' in 'abcd':
    print ('true')
    print ('bner lgo')
    print('bner cuy')

print ('Statement diluar')

In [ ]:
if 'xyz' in 'abcd':
    print ('true')
    print ('bner lgo')
    print('bner cuy')
else :
    print ('Statement diluar')

In [ ]:
if 'foo' in ['foo', 'barr', 'baz']:
    print ('outer condition 1')

In [ ]:
age = 19
if age  > 20 :
    print ('boleh nongkib')
    print ('bner minum')
    print('bner cuy')
else :
    print ('Main game di rumah')

In [ ]:
hargajagerbom = 90000
hargakentang=15000
uang= 75000

In [ ]:
if uang > hargajagerbom & uang>hargakentang:
   print('Party everyday')
if uang>hargajagerbom:
    print("minum jager")
elif uang > hargakentang:
    print("makan kentang goreng")
else:
    print("uang anda cukup")

In [ ]:
if 'a' in 'abc': print(1);print(2);print(3)

In [ ]:
if uang>hargajagerbom: print("minum jager")
elif uang > hargakentang: print("makan kentang goreng")
else: print("uang anda cukup");print('anda kismin')

## Condotional Expression (ternary Operator)

In [ ]:
age = 20
"bocah" if age<20 else "dewasa"

In [ ]:
raining = True
print('Ayo kita pergi ke', 'pantaai' if not raining else 'mall')

## 'While' Loops

In [2]:
n = 5

while n > 0:
    n -= 1
    print (n)

4
3
2
1
0

In [4]:
n = 5

while n > 0:
    print (n)
    n -= 1

5
4
3
2
1

In [7]:
n = 7

while n > 0:
    n -= 1
    if n == 2:
        break
    print (n)
print('loop done')

6
5
4
3
loop done

In [11]:
n = 7

while n > 0:
    n -= 1
    if n == 2:
     continue 
    print (n)
print('loop end')

6
5
4
3
1
0
loop end

In [13]:
a = ['kons','tols']

while len(a):
    print(a.pop(0))
    
    b=['les','mise']
    while len(b):
        print('>>', b.pop(0))

kons
>> les
>> mise
tols
>> les
>> mise

## "For" Loops

In [15]:
d = [1,2,3,4,5]
for i in d:
    print (i)

1
2
3
4
5

In [20]:
d={'les':1, 'mis':3,'bar':5}
for i in d:
    print (i)

les
mis
bar

In [23]:
for i in d:
    print (d[i])

1
3
5

In [32]:
temp=input ('masukan temprature yang anda sekarang, contoh 34F, 45C...')
degree= int(temp[:-1])
satuan = temp[-1]

if satuan == 'C':
    result= (9*degree)/5+23
elif satuan =='F':
    result = (degree-32)*5/9
else:
    print ('masukan inputan yg benar')
print ('temperaturnya adalah', result,'derajat')

masukan temprature yang anda sekarang, contoh 34F, 45C...45F
temperaturnya adalah 7.222222222222222 derajat

In [31]:
print()

In [39]:
temp=input ('masukan temprature yang anda sekarang, contoh 34F, 45C...')
degree= int(temp[:-2])
satuan = temp[-1]
degree, satuan

masukan temprature yang anda sekarang, contoh 34F, 45C...65ff

(65, 'f')